html{
  font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}

#grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto auto; /* we now have 3 rows. */
  row-gap: 2rem;
}

#global-header{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1 / 2; /* shorthand for start - end. */
}

#banner{
  display: flex;
  flex-wrap: wrap;
  background-color: #efefef;
  justify-content: space-between;

  img{
    max-width: 70%;
  }
}

main{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

main nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  a{
    color: gray;
  }
}

#category-menu{
  grid-column: 1/2;
  grid-row: 2/3;

}

#category-menu nav ul{
  list-style: none;
}

footer{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

img {
    width: 100%;
    max-width: 400px;
}

#main-logo{ /* is case sensitive. to refer to an ID, have to use #, and then the id name */
    width: 100%;
    max-width: 250px;
    margin: 0px auto;
    display: block;
}
/* the CSS which is the most specific is what will take priority and will be ran */

.flex-menu { /* .xx refers to a class */
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    a{ /* This is nesting in CSS */
        text-decoration: none;
        color: #000; 
    }
  }

  /* .flex-menu a{
    text-decoration: none;
    color: #000;

  } */

  .flex-space-b {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #outlet {
    color: #d20000;
  }

  .flex-space-b form{
    position: relative;
  }

  .flex-space-b form label{
    visibility: hidden;
    position: absolute;

  }

  .product-card {
    max-width: 350px; /* Maksimal bredde for produktkortet er 350px */
    min-width: 200px; /* Minimum bredde for produktkortet er 200px */
    width: 100%; /* Produktkortet tar opp 100% av sin container */
    box-shadow: 13px 9px 20px 0px #efefef; /* Legger til en boks-skygge for dybdeeffekt */
    border-radius: 4px; /* Avrunder hjørnene på produktkortet med 4px */
    padding: 1rem; /* Legger til 1rem padding på innsiden av produktkortet */
}